@media(min-height:768px){

body{
  max-width: 960px;
  margin: 0 auto;
}

nav{
  height: 100px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  background-color: grey;
}

.line1 {
  height: 200px;
  width: 39.5%;
  border: 1px solid black;
  text-align: center;
  line-height: 200px;
  background-color: grey;
  float: left;
}

#b{
  width: 20.20%;
  height: 600px;
  line-height: 600px;
}

.box{
  float:left;
  width: 19.63%;
  height:250px;
  line-height: 250px;
  text-align:center;
  background-color:grey;
  border: 1px solid black;
}

footer{
  float:left;
  height:146px;
  line-height:146px;
  text-align:center;
  background-color:grey;
  width: 79.23%;
  border: 1px solid black;
}

}