@media(min-width:768px){

  nav{
    height: 100px;
    width: calc(100% - 3px);
    line-height: 100px;
  }

  .lineone{
    width: 79%;
    float: left;
  }
  
  .line1 {
    height: 200px;
    width: calc(50% - 2px);
    line-height: 200px;
    float: left;
  }
  
  #b{
    width: calc(21% - 2px);
    height: 600px;
    line-height: 600px;
    float: left;
  }

  .boxcontainer{
    float:left;
    width:79%;
  }
  
  .box{
    float:left;
    width: calc(25% - 2px);
    height:250px;
    line-height: 250px;
  }
  
  footer{
    float:left;
    height:146px;
    line-height:146px;
    width: calc(79% - 2px);
  }
}
  
@media(max-width:767px){

  nav{
    height: 75px;
    width: 100%;
    line-height: 100px;
  }
    
  .line1 {
    height: 125px;
    width: 100%;
    line-height: 125px;
  }
    
  #b{
    height: 150px;
    width: 100%;
    line-height: 150px;
  }
    
  .box{
    float:left;
    width: calc(50% - 2px);
    height:250px;
    line-height: 250px;
  }
    
  footer{
    float:left;
    height:80px;
    line-height:80px;
    width: 100%;
  }
    
}